* {
  box-sizing: border-box;
}

body {
  width: 400vw;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

header {
  position: fixed;
  width: 100%;
  height: 5%;
  background: white;
  top: 0;
}

#header-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

div.hamburger {
  display: block;
  margin-left: 5%;
  margin-right: 35%;
}

span.bar {
  display: block;
  width: 70px;
  height: 5px;
  margin: 20px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #272a32;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {}

main {
  margin-top: 12em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

div.top-part div.carousel{
  display: flex;
  justify-content: center;
  margin: 1% auto ;
}

div.top-part div.summer-sale {
  display: none;
}

div.banner-osf {
  display: flex;
  justify-content: center;
}

footer {
  padding: 5%;
  text-decoration: none;
  font-size: 3.5em;
}

div#footer-container p {
  padding-bottom: 5%;
}

div.contact, div.categories, div.about {
  padding-bottom: 5%;
}

footer li, footer a {
  color: black;
  list-style: none;
}

footer div.column-item {
  opacity: 0.6;
}

ul.column-list {
  padding-left: 0;
  margin-bottom: 0;
}

ul.social-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

ul.social-icons li a img {
  height: 80px;
  width: 69px;
}

ul.social-icons img {
  margin: auto 20px;
}

div.categories-sections {
  display: none;
}

button.footer-button {
  background-color: inherit;
  border: none;
  opacity: 0.8;
}

button.footer-button:focus {
  outline: none;
}

div.functionalities {
  display: none;
}

/* Homepage 768px for screens that are between 768px and 1280px */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  header {
    height: 5%;
  }

  header div#header-container {
    margin-bottom: 0;
  }

  header div#header-container a.mobile {
    vertical-align: center;
  }

  div.hamburger {
    display: block;
    margin-left: 5%;
    margin-right: 40%;
  }

  div.top-part div.carousel{
    display: flex;
    justify-content: center;
    margin: 1% auto ;
  }

  footer div#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  div.banner-osf img {
    width: 100%;
  }
}

/* Homepage 1280px for screens that are bigger than 1280px */
@media screen and (min-width:1280px) {
  * {
    box-sizing: border-box;
  }

  body {
    display: block;
    font-family: "Maison Neue", sans-serif;
    width: 100%;
  }

  /*----------HEADER-------------*/
  header {
    height: auto;
  }

  #header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 1%;
    width: 100%;
    height: 100%;
  }

  .desktop {
    display: block;
    cursor: pointer;
    height: 60px;
    width: 170px;
  }

  .mobile {
    display: none;
  }

  div.hamburger {
    display: none;
    cursor: pointer
  }

  div.functionalities {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
  }

  nav {
    font-size: 14px;
  }

  nav.main-nav {
    height: auto;
  }

  ul {
    padding-inline-start: 0px;
  }

  ul.nav-links {
    height: 20px;
  }

  ul.nav-links, .international {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  nav.middle ul.international select {
    border: none;
    opacity: 0.5;
  }

  .fa-caret-down, .item {
    color: #a3a2a0;
    padding: 0 15px 0 10px;
  }

  li {
    display: inline-block;
    width: inherit;
    padding: 0px 10px;
  }

  .nav-links li a {
    text-decoration: none;
    color: #51504e;
    opacity: 0.9;
  }

  .nav-links li a:hover {
    color: white;
    background-color: #272a32;
  }

  .middle {
    padding-left: 30px;
    padding-right: 40px;
  }

  .functionals {
    margin-top: 5px;
  }

  div.dropdown div.dropdown-menu div.first-column {
    display: flex;
    flex-direction: block;
  }

  div.dropdown button#dropdownMenuButton {
    background: white;
    color: #51504e;
    opacity: 0.9;
    border: none;
    border-radius: 0;
    padding-bottom: 10%;
    font-family: "Maison Neue", sans-serif;
    font-size: 14px;
  }

  div.dropdown button#dropdownMenuButton:hover {
    color: white;
    background-color: #272a32;
  }

  /*--------MAIN----------*/
  main {
    margin-top: 7%;
  }

  main div.top-part {
    display: flex;
    flex-direction: row;
  }

  div.top-part div.summer-sale {
    display: block;
    width: 25%;
    margin-right: 1%;
  }

  div.top-part div.carousel{
    margin: 0;
    z-index: -1;
  }

  div.summer-sale div.sale-ad {
    height: 50%;
    display: flex;
    justify-content: center;
  }

  div.sale-ad img {
    height: 100%;
  }

  div.summer-sale div.facebook-contact {
    text-align: center;
    margin-top: 10%;
  }

  div.facebook-contact a img{
    margin-top: 5%;
    width: 50%
  }

  div.facebook-contact a img:hover{
    filter: grayscale(100%);
    cursor: pointer;
  }

  div.static-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  div.static-content img {
    width: 35%;
    height: 40%;
  }

  div.banner-osf {
    display: flex;
    justify-content: center;
  }

  div.banner-osf img {
    width: 100%;
  }

  /*--------FOOTER--------*/
  footer {
    padding: 0;
  }

  div.categories-sections {
    display: block;
  }

  div#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    opacity: 0.7;
    font-size: 30%;
  }

  section.contact-text {
    padding-bottom: 10px;
  }

  div.categories {
    display: flex;
    flex-direction: column;
  }

  div.columns {
    display: flex;
    flex-direction: row;
  }

  ul.column-list {
    display: flex;
    flex-direction: column;
  }

  div.column-item {
    padding-right: 10%;
  }

  ul.column-list li {
    padding-bottom: 20px;
    padding-left: 0;
  }

  ul.column-list li a {
    text-decoration: none;
    color: black;
    opacity: 0.65;
  }

  button.footer-button {
    text-align: left;
    padding: 0;
    padding-bottom: 4%;
  }

  ul.social-icons {
    display: flex;
    flex-direction: row;
  }

  ul.social-icons li a img {
    height: 25px;
    width: 21px;
    margin: 0;
  }
}
